.hidden {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #0b0c10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #8e99a7;
  text-align: center;
  position: relative;
  background-attachment: fixed;
}

#loading-image {
  width: 100px;
  height: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#loading-text {
  color: #57f287;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin-top: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(87, 242, 135, 0.1);
  }

  70% {
    box-shadow: 0 0 0 5px rgba(87, 242, 135, 0);
  }

  100% {
    box-shadow: 0 0 0 0px rgba(87, 242, 135, 0);
  }
}

#character {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #f3e033;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
  max-width: 600px;
  box-sizing: border-box;
  padding: 1em;
  width: 90%;
  max-height: 80vh;
  margin-top: -8vh;
  margin-bottom: 0vh;
  overflow-y: auto;
  position: relative;
}

#character h1 {
  font-size: 2.5rem;
  color: #57f287;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#character p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px black;
}

#character ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#character li {
  margin: 0.5em 0;
  padding-bottom: 10px;
}


#character li::before {
  content: '•';
  color: #57f287;
  position: absolute;
  left: 0;
  top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

img {
  border-radius: 50%;
  border: 4px solid #57f287;
}

#refresh-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #57f287;
  color: #0b0c10;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  position: relative;
  z-index: 10;
}

#refresh-button:hover {
  background-color: #44a259;
}

#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.star {
  width: 2px;
  height: 2px;
  background: linear-gradient(45deg, #57f287, #f3e033);
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:
    0 0 2px #57f287,
    0 0 4px #57f287,
    0 0 8px #57f287,
    0 0 12px #57f287;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  color: #c5c6c728;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.8em;
}

footer p {
  margin: 0;
}

footer a {
  color: #57f28830;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 7px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.2);
}